<!--<div class="form-container">
    <a routerLink="/login" id="goback">Go back</a>
    <h2>Custom Login</h2>

    <span class="error" *ngIf="error">{{ error }}</span>

    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

      <input type="text" placeholder="Email address.." (ngModel)="email" name="email" class="txt" required>
      <input type="password" placeholder="Password" (ngModel)="password" name="password" class="txt" required>

      <button type="submit" [disabled]="!formData.valid" class="basic-btn">Log in</button>
      <a routerLink="/signup" class="alc">Don't have an account?</a>
  </form>
</div>-->

<div class="container">
<!--Card-->
<div class="card">
    <!--Card image-->
    <div class="view hm-white-slight waves-light" mdbRippleRadius>
        <!--<img src="assets/images/user.svg" height="100px" width="100px" class="img-fluid" alt="Home">-->
        <a>
            <div class="mask"></div>
        </a>
    </div>
    <a routerLink="/login" id="goback">Go back</a>
    <!--Card content-->
    <div class="card-body">
      <h4 class="card-title">Custom Login</h4>
      <span class="error" *ngIf="error">{{ error }}</span>
      <!--Register form-->
<form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" id="orangeForm-email" class="form-control" (ngModel)="email" name="email" required mdbActive>
        <label for="orangeForm-email">Your email</label>
    </div>
    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="orangeForm-pass" class="form-control" (ngModel)="password" name="password" required mdbActive>
        <label for="orangeForm-pass">Your password</label>
    </div>
    <div class="text-center">
        <button class="btn btn-dark-green" type="submit" [disabled]="!formData.valid" mdbRippleRadius>Login</button>
    </div>
    <div class="text-center">
        <a routerLink="/signup" class="alc">Don't have an account?</a>
    </div>
</form>
<!--/Register form-->
    </div>
</div>
<!--/.Card-->
</div>

